{% load static %}
{% load nav_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "style.css" %}" />
    <title>{% block title %}Campusradio Indiewelle{% endblock %}</title>
</head>

<body>
    <div id="imgbar">
      <img id="header-image" src="{% static "header.png" %}">
    </div>
    {% show_nav %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
      <span>2017 Campusradio Indiewelle Kiel. </span><a id="adminlink" href="{% url 'admin:index' %}">Admin.</a>
    </div>
</body>
</html>
